$blue_color: #1698D9!default;
$blue_color_hovered: #2EA8E6!default;
$rose_color: #D91667!default;
$rose_color_hovered: #E52E7A!default;
$grey_color: #B3B3B3!default;
$yellow_color: #FFFF66!default;

.nyamushki{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.nyamushki__title{
  font-size: 36px;
  letter-spacing: 0;
  text-shadow: 0 1px 1px #000000;
  margin-bottom: 26px;
  color: #ffffff;
}

.nyamushki__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.nyamushka__pack{
  transition: .2s border-color;
}
.nyamushka__pack__weight{
  transition: .2s background-color;
}
.nyamushka__undertest__select{
  transition: .2s color;
}

.nyamushka{
  width: 320px;
  height: 509px;
  margin-bottom: 30px;
  max-width: 100%;
  &:not(:last-child) {
    margin-right: 80px;
  }
  &.blue {
    .nyamushka__pack{
      border-color: $blue_color;
    }
    .nyamushka__pack__weight{
      background-color: $blue_color;
    }
    .nyamushka__undertest__select{
      color: $blue_color;
    }
    &.hoverable:hover {
      .nyamushka__pack{
        border-color: $blue_color_hovered;
      }
      .nyamushka__pack__weight{
        background: $blue_color_hovered;
      }
      .nyamushka__undertest__select{
        color: $blue_color_hovered;
      }
    }
  }
  &.rose {
    .nyamushka__pack{
      border-color: $rose_color;
    }
    .nyamushka__pack__weight{
      background: $rose_color;
    }
    .nyamushka__undertest__select{
      color: $rose_color;
    }
    &.hoverable:hover {
      transition-delay: 2s;
      .nyamushka__pack{
        border-color: $rose_color_hovered;
      }
      .nyamushka__pack__weight{
        background: $rose_color_hovered;
      }
      .nyamushka__undertest__select{
        color: $rose_color_hovered;
      }
      .nyamushka__pack__head{
        &.rose {
          color: $rose_color_hovered;
        }
      }
    }
  }
  &.disabled {
    & * {
      cursor: default;
    }
    .nyamushka__pack{
      border-color: $grey_color;
    }
    .nyamushka__pack__weight{
      background: $grey_color;
    }
    .nyamushka__undertest__select{
      color: $grey_color;
    }
  }

  &.disabled{
    .nyamushka__pack{
      & .nyamushka__pack__content *, & .nyamushka__pack__bg {
        opacity: 0.5;
      }
    }
    .nyamushka__undertest {
      color: $yellow_color;
    }
  }
}

.nyamushka__pack{
  height: 480px;
  border: 4px solid transparent;
  border-radius: 12px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 122%;
  background-position: -41px 206%;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.nyamushka__pack__bg{
  position: absolute;
  left: -27px;
  bottom: -93px;
  height: 360px;
}

.nyamushka__pack__content{
  padding: 20px 50px;
}

.nyamushka__pack__head{
  color: #666666;
  font-size: 16px;
  &.rose {
    color: $rose_color;
  }
}

.nyamushka__pack__title{
  font-size: 48px;
}

.nyamushka__pack__with{
  font-size: 24px;
  margin-bottom: 12px;
}

.nyamushka__pack__portions{
  color: #666666;
  font-size: 14px;
}
.nyamushka__pack__present{
  color: #666666;
  font-size: 14px;
}
.nyamushka__pack__weight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  right: 12px;
  bottom: 12px;
  color: #ffffff;
  font-size: 42px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  & span {
    font-size: 21px;
    margin-top: -7px;
  }
}

.nyamushka__undertest {
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}

.nyamushka__undertest__select{
  text-decoration: none;
  border-bottom: 1px dashed;
  cursor: pointer;
}