html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  height: 100%;
  background-image: url("./Pattern@2x.png");
  background-position: center;
}

body * {
  box-sizing: border-box;
}

#root{
  height: 100%;
}

.nyamushki{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  padding: 30px;
}

.nyamushki__title{
  font-size: 36px;
  letter-spacing: 0;
  text-shadow: 0 1px 1px #000000;
  margin-bottom: 26px;
  color: #ffffff;
  text-align: center;
}

.nyamushki__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

@media (max-width: 860px) {
  .nyamushki__list {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .nyamushki__list > div {
    margin-right: 0;
  }
}