html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  height: 100%;
  background-image: url("./Pattern@2x.png");
}

body * {
  box-sizing: border-box;
}

#root{
  height: 100%;
}

.nyamushki{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.nyamushki__title{
  font-size: 36px;
  letter-spacing: 0;
  text-shadow: 0 1px 1px #000000;
  margin-bottom: 26px;
  color: #ffffff;
}

.nyamushki__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}
